---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
---

<Layout title="About">
    <h1 class="text-white">About the project</h1>

    <p>The SpaceX Launches project is a demo for the Astro Course</p>
</Layout>